FRP_VERSION=0.68.0
FRP_SERVER_ADDR=
FRP_SERVER_PORT=7000
FRP_AUTH_TOKEN=
FRP_SECRET_KEY=
GITLAB_LOCAL_NAME=gitlab.internal
GITLAB_WEB_BIND_ADDR=127.0.0.1
GITLAB_WEB_BIND_PORT=8929
GITLAB_SSH_BIND_ADDR=127.0.0.1
GITLAB_SSH_BIND_PORT=2222
FRP_FALLBACK_TIMEOUT_MS=300
FRP_KEEP_TUNNEL_OPEN=true
DIRECT_GITLAB_SSH_PREFIX=ssh://git@10.10.0.216:2222/
FRP_GITLAB_SSH_PREFIX=ssh://git@gitlab.internal:2222/
FRP_CONFIG_PATH=/etc/frp/frpc-client.toml
FRP_BINARY_PATH=/usr/local/bin/frpc
FRP_SKIP_BINARY_INSTALL=0
FRP_SERVICE_MANAGER=auto
