HANDSHAKE_SERVER_BIND=0.0.0.0
HANDSHAKE_KEY_SERVER_PORT=8787
HANDSHAKE_JUMP_USER=gitproxy
HANDSHAKE_TOKEN_FILE=/etc/handshake-client/tokens
HANDSHAKE_AUTHORIZED_KEYS=/home/gitproxy/.ssh/authorized_keys
HANDSHAKE_ALLOWED_GITLAB_SSH_HOST=127.0.0.1
HANDSHAKE_ALLOWED_GITLAB_SSH_PORT=12222
HANDSHAKE_AUTHORIZED_KEYS_OPTIONS='restrict,port-forwarding,permitopen="127.0.0.1:12222"'
HANDSHAKE_SOURCE_PUBLIC_KEY=
HANDSHAKE_SOURCE_PUBLIC_KEYS_FILE=
HANDSHAKE_SOURCE_AUTHORIZED_KEYS_OPTIONS='restrict,port-forwarding,permitlisten="127.0.0.1:12222",permitlisten="127.0.0.1:18080"'
