HANDSHAKE_SERVER_HOST=106.14.219.191
HANDSHAKE_SERVER_USER=root
SSH_IDENTITY_FILE=
SSH_SERVER_ALIVE_INTERVAL=30
SSH_SERVER_ALIVE_COUNT_MAX=3
GITLAB_LOCAL_HTTP_PORT=8929
GITLAB_LOCAL_SSH_PORT=2222
HANDSHAKE_REMOTE_GITLAB_HTTP_PORT=18080
HANDSHAKE_REMOTE_GITLAB_SSH_PORT=12222
