HANDSHAKE_KEY_SERVER_URL=http://127.0.0.1:18787
HANDSHAKE_KEY_SERVER_TUNNEL=1
HANDSHAKE_KEY_SERVER_TUNNEL_HOST=handshake
HANDSHAKE_KEY_SERVER_TUNNEL_LOCAL_PORT=18787
HANDSHAKE_KEY_SERVER_TUNNEL_REMOTE_HOST=127.0.0.1
HANDSHAKE_KEY_SERVER_TUNNEL_REMOTE_PORT=8787
HANDSHAKE_INVITE_TOKEN=
HANDSHAKE_PUBLIC_KEY_PATH=~/.ssh/id_ed25519.pub
HANDSHAKE_SSH_CONFIG_PATH=~/.ssh/config
HANDSHAKE_INCLUDE_PATH=~/.ssh/handshake_config
HANDSHAKE_HOST=106.14.219.191
HANDSHAKE_USER=gitproxy
HANDSHAKE_IDENTITY_FILE=~/.ssh/id_ed25519
HANDSHAKE_GITLAB_REMOTE_SSH_PORT=12222
