FRP_VERSION=0.68.0
FRP_IMAGE=fatedier/frpc:v0.68.0
FRP_SERVER_ADDR=
FRP_SERVER_PORT=7000
FRP_AUTH_TOKEN=
FRP_SECRET_KEY=
GITLAB_LOCAL_HOST=127.0.0.1
GITLAB_WEB_PORT=8929
GITLAB_SSH_PORT=2222
FRP_CONFIG_PATH=./generated/frpc-source.toml
FRP_REMOVE_CONFIG=0
